@media (prefers-color-scheme: light) {
  :root {
    --basic-bg-color: #FFFFFF;

    /* yes, this will be fixed */
    --bg-color-light: #F9F9F9;
    --bg-color-dark: #191919;

    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;

    --accent-color-light: #005FB8;
    --accent-color-dark: #60CDFF;

    --rail-color-light: #646464;
    --rail-color-dark: #9A9A9A;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --basic-bg-color: #191919;

    /* yes, this will be fixed */
    --bg-color-light: #F9F9F9;
    --bg-color-dark: #191919;

    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;

    --accent-color-light: #005FB8;
    --accent-color-dark: #60CDFF;

    --rail-color-light: #646464;
    --rail-color-dark: #9A9A9A;
  }
}

html,
body {
  background-color: #000000;
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* global stuff */

/* Splash screen */

.splash-screen {
  background-color: var(--basic-bg-color);
  z-index: 1;
  display: grid;
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  transition: opacity 0.083s linear;
}

.progress-container {
  position: absolute;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  margin-top: 264px;
  width: 50%;
}

.seperator_h {
	background-color: var(--fds-divider-stroke-default);
        height: 1px;
        width: 100%;

        margin-top: 4px;
        margin-bottom: 4px;
    }

    .TitleBar {
      height: 32px;
      padding-left: 16px;
      gap: 12px;
      display: flex;
      align-items: center;
    }

/* old, sort */

.box {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

textarea.box {
  font-family: monospace;
  width: 80%;
}

/* The canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.box {
  background-color: black;
  border: 0px none;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: pixelated;
}

/* This is NOT supposed to be here at all, but whatever, output: <textarea class="emscripten" id="output" rows="8"></textarea> */
